/*____HEADER____*/

header{
    display: flex;
    align-items: center;
    height: 3.9375em;
    margin-bottom: 0.2em;
}
    @media screen and (min-width:768px) {
        header{
            height:6em;
        }        
    }
.header{
    &-side {
        width: 25%;        
    }
    &-center{
        width: 50%;
        display: flex;
        justify-content: center;
    }
    &-logo{     
        height: 1.875em;    
    }
    &-arrow{       
        margin-left: 1.438em;
        font-size: 1.25em;        
    }
}