/*______Animation-Heart_______*/

.restaurant-card-heart{
    display: flex;
    position: relative;    
    align-self: flex-end;
    margin-right: 10%;
    bottom: 3em;
    cursor: pointer;
    align-items: center;
    justify-content: center;   
}
    @media screen and (min-width:768px){
        .restaurant-card-heart{
            margin-right: 0;
            right: 3em;
            bottom: 2.4em;
        }
    }
.fa-heart {
    position: absolute;
    font-size: 1.5em;
    width: 26px;
    text-align: center;
}

.progress-heart {
    font-size: 1.6em;
    background: linear-gradient(var(--color-main),var(--color-second));
    color: transparent;
    background-clip: text;
    -webkit-background-clip: text;
    transition: 400ms ease;
    transform: scale(0);    
}

.section-menu-heart{
    display: flex;
    position: relative;
    cursor: pointer;
    align-items: center;         
}

.restaurant-card-heart:active .progress-heart, .section-menu-heart:active .progress-heart{
    transform: scale(1);
}