
/*________COULEURS SITES________*/

:root {
    --color-main :#9356DC;
    --color-second :#FF79DA;
    --color-third :#99E2D0;
    --color-white: #fff;
    --color-fourth:#353535;
    --color-background-main:#f6f6f6;
    --color-hover-how-to-button:#f5edff;
    --color-icon-how-to-button:#7e7e7e;
    --color-badge-new:#008766;
}

.color-white{
    color: var(--color-white);
}