/*_______BUTTON________*/

.button-main{    
    font-weight: 500;   
    padding:0.938em 1.25em;    
    background: linear-gradient(-8deg, var(--color-main) -5.2%, var(--color-second) 110.74%);
    border-radius: 1.563em;
    margin: 0.938em 0em; 
    width: 11.69em;    
    align-self: center;   
        &:hover{
            opacity: 90%;
            box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.5);
        }     
    }