/*_______BUTTON________*/

.button-main{    
    font-weight: 500;   
    padding:0.938em 1.25em;    
    background: linear-gradient(-8deg, var(--color-main) -5.2%, var(--color-second) 110.74%);
    border-radius: 1.563em;
    margin: 0.938em 0em; 
    width: 11.69em;    
    align-self: center;
    text-align: center;
        &:hover{
            opacity: 90%;
            box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.5);
        }     
    }

.restaurant-card-heart{
    display: flex;
    position: relative;    
    align-self: flex-end;      
    margin-right: 10%;    
    bottom: 3em;
    cursor: pointer;
    align-items: center;
    justify-content: center;                  
}
    @media screen and (min-width:768px){
        .restaurant-card-heart{            
            margin-right: 0;
            right: 3em;
            bottom: 2.4em;      
        }
    }
.fa-heart {
    position: absolute;    
    font-size: 1.5em;
    width: 26px;
    text-align: center;         
}

.progress-heart {
    font-size: 0em;
    background: linear-gradient(var(--color-main),var(--color-second));
    color: transparent;
    background-clip: text;
    -webkit-background-clip: text;
}

.section-menu-heart{
    display: flex;    
    position: relative;          
    cursor: pointer;
    align-items: center;        
}