/*______Section Location________*/

.section-location{
    display: flex;
    justify-content: center;
    align-items: center;
    gap:1.25em;
    padding-right: 5%;
    background-color: #eaeaea;
    height: 2.5em;
        &-txt{
            font-weight: 500;
            color: var(--color-fourth);
        }
}
    @media screen and (min-width:769px) {
        .section-location{
            padding-right: 0em;
            gap:0.625em;
        }            
    }



/*_____Section Reserve_____*/

.section-reserve{
    background-color: var(--color-background-main);
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding:1.875em;
    gap:0.65em;
        &-txt{
            font-weight: 300;
            font-size: 1.125em;
            line-height: 1.313em;
            color: var(--color-fourth);
        }    
}

@media screen and (min-width:768px) {    
    .section-reserve-title{ 
        font-size: 2.5em;
        line-height: 2.938em;      
    }
}



/*______Section How To________*/

.section-how-to {
    display: flex;
    flex-direction: column;
    padding: 4%;
    width: 92%;
    gap: 1.625em;
    padding-top:3.125em ;
    padding-bottom:3.125em ;
        &-container {
            display: flex;
            flex-direction: column;
            align-items: center;
            gap : 1.563em;
            width: 100%;
        }
}
    @media screen and (min-width:768px) {
        .section-how-to {                   
            max-width: 1200px;
            margin: auto;
                &-container {
                    flex-direction: row;       
                } 
        }
    }    
.how-to{
    &-button {
        padding: 1.25em 0em;
        width: 96%;
        text-align: center;
        display: flex;
        align-items: center;
        gap : 2%;
        background: var(--color-background-main);
        white-space: nowrap;
            &:hover {
                background: var(--color-hover-how-to-button);
            }
    }
    &-number {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        right: 0.688em;
        background: var(--color-main);
        width: 1.5em;
        height: 1.5em;
        border-radius: 50%;    
        font-size: 0.875em;    
    }
    &-position{
        display: flex;
        width: 80%;
        align-items: center;
        gap:5%;    
    }
    &-logo {
        color: var(--color-icon-how-to-button);
    }
    &-txt {
        width: 100%;
        align-self: center;
        font-size: 1em;
        font-weight: 500;
    }    
}

.how-to-button:hover .how-to-logo{
    color: var(--color-main);
}

@media screen and (min-width:768px) and (max-width:800px) {
    .how-to-txt {
        font-size: 0.95em;
    }    
}

/*______Section Restaurant______*/

.section-restaurant{
    display: flex;
    flex-direction: column;    
    padding:3.125em 4%;
    background-color: var(--color-background-main);
    width: 92%;
        &-background{
            background:var(--color-background-main);            
        }
        &-title{
            width: 92%;
            padding: 4%;
            padding-bottom: 0;
        }
}
    @media screen and (min-width:768px) {
        .section-restaurant{
            overflow: scroll;
            margin-top: -1.25em;
                &-title{
                    max-width: 1200px;
                    margin: auto;                    
                    padding-top: 2.5em;                              
                }  
        }
    }   

.restaurant-container-card{
    display: flex;
    flex-direction: column;    
    width: 100%;
    gap:0.625em;    
}
    @media screen and (min-width:768px) {
        .restaurant-container-card{            
            max-width:1200px ;
            margin: auto;            
            flex-direction: row;            
            padding-bottom: 1.25em;            
        }                
    }

.restaurant-card{
    height: 15.688em;
    width: 100%;
        &-article{
            height: 100%;    
        }
        &-img{    
            height: 100%;   
            object-fit: cover;
            width: 100%;        
        }
        &-new{    
            position: relative;
            align-self: flex-end;   
            bottom: 10em;
            margin-right: 5%;
            font-size: 0.875em;
            font-weight: 500;    
            background-color: var(--color-third) ;
            color:var(--color-badge-new);
            padding: 0.1875em 0.3125em;
        }
        &-block{
            &-img{
                height: 70%;
                display: flex;
                flex-direction: column;    
            }
            &-txt{
                display: flex;
                padding: 0 3%;
                height: 30%;          
                align-items: center;
                justify-content: space-between;    
            }
            &-title{
                font-size: 1.125em;
                line-height: 1.3125em;
            }
            &-city{
                font-weight: 300;
                font-size: 1.0625em;
                line-height: 1.25em;
            }
        }
    
}
    @media screen and (min-width:768px) {
        .restaurant-card{
            min-width: 335px;
        }
    }