/*______IMPORTATION FONTS_______*/

@font-face{
    font-family: "Shrikhand";
    src: url("../fonts/Shrikhand/Shrikhand-Regular.ttf");
}

@font-face{
    font-family: "Roboto";
    src: url("../fonts/Roboto/Roboto-Regular.ttf");
}

/*________COULEURS SITES________*/

:root {
    --color-main :#9356DC;
    --color-second :#FF79DA;
    --color-third :#99E2D0;
    --color-white: #fff;
    --color-fourth:#353535;
    --color-background-main:#f6f6f6;
    --color-hover-how-to-button:#f5edff;
    --color-icon-how-to-button:#7e7e7e;
    --color-badge-new:#008766;
}

*{
    margin: 0;
    padding: 0;      
    list-style-type: none;
    text-decoration: none;
    color: black;
    font-family: "Roboto", Arial, Helvetica, sans-serif;    
}

.color-white{
    color: var(--color-white);
}

/*_____BOX SHADOW______*/

.box-shadow-header{    
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.3);
}

.box-shadow-how-to{
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.15);
}

.box-shadow-button{
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
}

.box-shadow-card{
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1);
}

/*______BORDER RADIUS_____*/

.border-radius-all{
    border-radius: 15px;
}

.border-radius-top{
    border-radius:15px 15px 0 0;
}

/*_______BUTTON________*/

.button-main{    
    font-weight: 500;   
    padding:15px 20px;    
    background: linear-gradient(-8deg, var(--color-main) -5.2%, var(--color-second) 110.74%);
    border-radius: 25px;
    margin: 15px 0px; 
    width: 187px;    
    align-self: center;
    text-align: center;     
}

.button-main:hover{
    opacity: 90%;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.5);
}

/*____HEADER____*/

header{
    display: flex;
    align-items: center;   
    padding-bottom: 10px;
    padding-top: 20px;
    margin-bottom: 0.2em;                         
}

.header-side {
    width: 25%;
    display: flex; 
    align-items: center;
}

.header-center{
    width: 50%;
    display: flex;
    justify-content: center;
}

.header-logo{     
    height: 30px;    
}

.header-arrow{       
    margin-left: 23px;
    font-size: 20px;        
}

/*______Section Location________*/

.section-location{
    display: flex;
    justify-content: center;
    align-items: center;
    gap:20px;
    padding-right: 5%;
    background-color: #eaeaea;
    height: 40px;
}
    @media screen and (min-width:769px) {
        .section-location{
            padding-right: 0px;
            gap:10px;
        }            
    }

.section-location-txt{
    font-weight: 500;
    color: var(--color-fourth);
}

/*_____Section Reserve_____*/

.section-reserve{
    background-color: var(--color-background-main);
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding:30px;
    gap:10px;    
}

@media screen and(min-width:768px) {    
    .section-reserve-title{ 
        font-size: 40px;
        line-height: 47px;      
    }
}

.section-reserve-txt{
    font-weight: 300;
    font-size: 18px;
    line-height: 21px;
    color: var(--color-fourth);
}

/*______Section How To________*/

.section-how-to {
    display: flex;
    flex-direction: column;
    padding: 4%;
    width: 92%;
    gap: 26px;
    padding-top: 50px;
    padding-bottom: 50px;
}
    @media screen and (min-width:768px) {
        .section-how-to {                   
            max-width: 1200px;
            margin: auto;
        }
    }

.section-how-to-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap : 25px;
    width: 100%;
}
    @media screen and (min-width:769px) {
        .section-how-to-container {
            flex-direction: row;       
        }            
    }

.how-to-button {
    padding: 20px 0px;
    width: 96%;
    text-align: center;
    display: flex;
    align-items: center;
    gap : 2%;
    background: var(--color-background-main);
}

.how-to-number {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    right: 11px;
    background: var(--color-main);
    width: 24px;
    height: 24px;
    border-radius: 50%;    
    font-size: 14px;    
}

.how-to-button:hover {
    background: var(--color-hover-how-to-button);
}

.how-to-button:hover .how-to-logo{
    color: var(--color-main);
}

.how-to-position{
    display: flex;
    width: 80%;
    align-items: center;
    gap:5%;    
}

.how-to-logo {
    color: var(--color-icon-how-to-button);
}

.how-to-txt {
    width: 100%;
    align-self: center;
    font-weight: 500;
}

/*______Section Restaurant______*/

.section-restaurant-background{
    background:var(--color-background-main);
}

.section-restaurant{
    display: flex;
    flex-direction: column;    
    padding:50px 4%;
    background-color: var(--color-background-main);
    width: 92%;    
}
    @media screen and (min-width:768px) {
        .section-restaurant{
            overflow: scroll;
        }
    }

.section-restaurant-title{
    width: 92%;
    padding: 4%;
    padding-bottom: 0;
}
    @media screen and (min-width:768px) {
        .section-restaurant-title{
            max-width: 1200px;
            margin: auto;
            margin-bottom: -20px;
            padding-top: 40px;                              
        }        
    }

.restaurant-container-card{
    display: flex;
    flex-direction: column;    
    width: 100%;    
}
    @media screen and (min-width:768px) {
        .restaurant-container-card{            
            max-width:1200px ;
            margin: auto;            
            flex-direction: row;            
            padding-bottom: 20px;            
        }                
    }

.restaurant-card{
    height: 251px;
    width: 100%;
}
    @media screen and (min-width:768px) {
        .restaurant-card{
            min-width: 335px;
        }
    }

.restaurant-card-article{
    height: 100%;    
}

.restaurant-card-img{    
    height: 100%;   
    object-fit: cover;
    width: 100%;        
}

.restaurant-card-new{    
    position: relative;
    align-self: flex-end;
    text-align: center;   
    bottom: 160px;
    margin-right: 5%;     
    width: 60px;       
    font-size: 14px;
    font-weight: 500;    
    background-color: var(--color-third) ;
    color:var(--color-badge-new);
    padding: 3px 5px;
}

.restaurant-card-block-img{
    height: 70%;
    display: flex;
    flex-direction: column;    
}

.restaurant-card-block-txt{
    display: flex;
    padding: 0 3%;
    height: 30%;          
    align-items: center;
    justify-content: space-between;    
}

.restaurant-card-block-title{
    font-size: 18px;
    line-height: 21px;
}

.restaurant-card-block-city{
    font-weight: 300;
    font-size: 17px;
    line-height: 20px;
}

.restaurant-card-heart{
    position: relative;
    font-size: 18px;
    align-self: flex-end;
    margin-right: 5%;    
    bottom: 45px;              
}
    @media screen and (min-width:768px){
        .restaurant-card-heart{            
            margin-right: 0;
            right: 40px;
            bottom: 30px;      
        }
    }

/*______ FOOTER _____*/

footer{
    background-color: var(--color-fourth);
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 25px;         
}
    @media screen and (min-width:768px) {
        footer{
            flex-direction: row-reverse;
            align-items: center;
            padding-right: 7%;
            gap: 20px;
            height: 114px;              
        }        
    }

.footer-logo{
    font-family: "Shrikhand", Arial, Helvetica, sans-serif;
    font-size: 18px;
    line-height: 26px;
    font-style: italic;
}

.footer-container{
    display: flex;
    flex-direction: column;
    gap:7px;
}
    @media screen and (min-width:768px) {
        .footer-container{
            flex-direction: row;
            gap:20px;
        } 
        
    }

.footer-icon{
    width: 20px;    
}

.footer-txt{
    font-weight: 500;
}

.footer-txt-2{
    font-weight: 300;
}

/*__________Pages Menus__________*/

.menu-img{    
    margin-top: -0.2em;
    width: 100%;
    object-fit: cover;
    height: 450px;       
}

.section-menu{
    padding:35px 4%;    
    width: 92%;
    background: var(--color-background-main);
    display: flex;
    flex-direction: column;
    position: relative;
    bottom: 50px;
    border-radius: 40px 40px 0 0;
    margin-bottom: -50px;
    gap:35px; 
}
    @media screen and (min-width:768px) {
        .section-menu{
            max-width: 1055px;
            margin: auto;
            bottom: 70px;
            margin-bottom: -70px;   
        }
    }

.section-menu-container-title{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
    @media screen and (min-width:768px) {
        .section-menu-container-title{
            justify-content: center;
            gap:24px;
        }    
    }

.section-menu-title{
    font-family: 'Shrikhand', Arial, Helvetica, sans-serif;
    font-style: italic;    
    font-size: 28px;
    line-height: 41px;
}

.section-menu-heart{
    font-size: 22px;    
}

.section-meal{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
    @media screen and (min-width:768px) {
        .section-meal{
            width: 634px;
            margin: auto;                
        }
    }

.section-meal-title{
    font-size: 16px;
    line-height: 19px;
    font-weight: 300;
}

.section-meal-title-border{
    width: 40px;
    height: 3px;
    background-color: var(--color-third);
    margin-top: -5px;
    margin-bottom: 5px;
}

.section-meal-container{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.meal-card{
    display: flex;
    justify-content: space-between;
    align-items: center;    
    padding: 10px;
    max-height: 68px;    
}

.meal-card-name{
    font-size: 18px;
    font-weight: 500;
    line-height: 21px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.meal-card-txt{
    display: flex;
    flex-direction: column;
    gap:5px;
    max-width: 80%;
}

.meal-card-description{    
    font-size: 15px;
    font-weight: 300;
    line-height: 18px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
    @media screen and(min-width:768px) {
        .meal-card-description{
            font-weight: 400;
            line-height: 19px;
            font-size: 16px;
        }    
    }

.meal-card-price{
    align-self: flex-end;
    font-size: 15px;
    font-weight: 700;
    line-height: 18px;
}