.meal-card-1, .section-meal-container{
    @include anim-meal (0ms);
}
.meal-card-2{
    @include anim-meal(100ms);     
}
.meal-card-3{
    @include anim-meal(200ms);
}
.meal-card-4{
    @include anim-meal(300ms);    
}
.meal-card-5{
    @include anim-meal(400ms);     
}
.meal-card-6{
    @include anim-meal(500ms);     
}
.meal-card-7{
    @include anim-meal(600ms);    
}
.meal-card-8{
    @include anim-meal(700ms);    
}
.meal-card-9{
    @include anim-meal(800ms);    
}
.meal-card-10{
    @include anim-meal(900ms);    
}

@keyframes meal {
    0% {
        opacity: 0;
        transform: translateY(25%);
        }
    100% {
        opacity: 1;
        }
    }